section {
    background-color: #30A2FF;
    color: #fff;
    text-align: center;
    
}
h1 {
    color: #fff;
}
h2 {
    color: #FFE7A0;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #00C4FF;
}